 body {
            font-family: Arial, sans-serif;
            margin: 0;
            text-align: center;
        }
		.header {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.header::before {
  content: '';
  background: url('mrowkaBackground.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(40%);
  opacity: 0.5;
  z-index: -1; 
}

.header img {
  width: 200px; 
  height: auto;
  z-index: 1; 
}

.header .shop-name {
  color: black;
  font-size: 4em;
  margin: 0;
  z-index: 1; 
}
        .account-info, .orders-table {
            margin: 20px auto;
            max-width: 600px;
            text-align: left;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .button {
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }
        .button:hover {
            background-color: #45a049;
        }
		.button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-decoration:none;
  text-transform: uppercase;
  background: orange; 
  background: -webkit-linear-gradient(to right, #FFA500, #FF4500); 
  background: linear-gradient(to right, #FFA500, #FF4500); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
       .navbar {
            display: flex;
            justify-content: space-around;
            background-color: #333;
            color: white;
            padding: 10px 0;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        .navbar img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
@media screen and (max-width: 768px) {
  .header .shop-name {
    font-size: 2em;
  }

  .header img {
    width: 150px;
  }

  .account-info, .orders-table {
    width: 90%;
    padding: 0 10px;
  }

  table {
    font-size: 0.9em;
  }
  
  .button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 480px) {
  .header .shop-name {
    font-size: 1.5em;
  }

  .header img {
    width: 100px;
  }

  .account-info, .orders-table {
    width: 95%;
    padding: 0 5px;
  }

  table {
    font-size: 0.8em;
  }

  .button {
    padding: 10px 20px;
  }
  
  .footer {
    margin-top: 10px;
  }
  
  .header a h1 {
    font-size: 1.2em;
  }
}
